body{
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;;
  color: white;
}

a{
  color: white;
  font-size: 18px;
}

#home {
  background-image: url("../images/the-flatiron-building.png");
}